body {
  background-color: rgb(40,43,48);
  text-align: left;
}

h1 {
  color: white;
  text-align: center;
  font-family: helvetica;
  margin-right:0px;
}
body {
  margin-top:25px;
  color: white;
  width: 50%
}


p {
  color: white;
  font-family: helvetica;
  font-size: 20px;
}
a {
   color: cornflowerblue;
}
