body {
  background-color: rgb(40,43,48);
  text-align: left;
}

h1 {
  color: white;
  text-align: center;
  font-family: helvetica;
  margin-right:0px;
}
body {
  margin-top:25px;
  .writing { 
  position: absolute;
  top: 170px;
  left: 350px 
  }
}


h3 {
  color: white;
  font-family: helvetica;
  font-size: 20px;
}
a {
   color: cornflowerblue;
}
